.grid-home-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70vh;
  text-align: center;
  margin: 100px;
// background-color: RGB(181, 198, 208, 0.6);
}

.foot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 30vh;
  text-align: center;
  margin: 100px;
}



.scout-title, .scout-img, .inf-img, .inf-title {
  width: 500px;
  margin: 20px;
  padding: 0;
}

.scout-title p {
 color: #4d4d4d;
}

.scout-title {
  grid-area: 1 / 1 / span 1 / span 1;
}

.scout-img {
  grid-area: 1 / 2 / span 1 / span 1;
}


.inf-img {
  grid-area: 2 / 1 / span 1 / span 1;
}

.inf-title {
  grid-area: 2 / 2 / span 1 / span 1;
}

a.home-down-arrow {
 color: white;
 font-size: 30px;

 &:hover {
   text-decoration: none;
   color: rgba(255,255,255, 0.6);
 }
}

.btn-home-join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #444;
}

.site-title {
  margin-bottom: 80px;
}

.btn-explore {
  margin-bottom: 80px;
}

.btn-explore a {
  font-size: 26px;
  border-radius: 15px;
  // border: 1px dashed rgba(250,250,250, 0.5);
  padding: 10px 40px;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 10px 20px 20px -20px black;
  &:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
  }
}

// BELOW IS LE WAGON, ABOVE IS FOR HOMEPAGE GRID

.banner-home {
  opacity: 0.95;
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  background-color: #F5FFFA;
}

.banner h1 {
 font-size: 50px;
 font-weight: bold;
 text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
 text-shadow: -2px -2px 9px rgba(150, 150, 150, 1);
}

.banner p {
 font-size: 25px;
 font-weight: lighter;
 //color: rgb(255, 255, 255);
 color: #4d4d4d;
 opacity: 0.6;
 margin-bottom: 30px;
}// Specific CSS for your home-page

.img {
box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.18);

}

.banner-content a {
 margin: 20px;
 color: #f6f8f9;
}

.banner-content h1 {
 font-family: 'Pacifico', cursive;
 //font-family: 'PT Serif', serif;
 font-size: 150px;
 color: #f6f8f9 ;
}

.banner-content h4 {
 font-size: 50px;
 text-align: center;
 color: #f6f8f9;
}

.card {
 height: 370px;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 background-size: cover !important;
 background-position: center;
 color: white;
 position: relative;
 margin: 30px;

 box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.41);

}

.card-user {
 position: absolute;
 right: 20px;
 top: 20px;
 width: 90px;
 height: 90px;
 border-radius: 50%;
 box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.08);
}

.card-category {
 position: absolute;
 top: 20px;
 left: 20px;
 font-size: 30px;
 letter-spacing: 5%;
}

.card-description {
 position: absolute;
 bottom: 10px;
 left: 10px;
}
.card-description h2 {
 font-size: 25px;
}
.card-description p {
 font-size: 20px;

}
.card-link {
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 z-index: 2;
 background: black;
 opacity: 0;
 text-decoration: none;
}
.card-link:hover {
 opacity: 0.1;
}
.location {
 font-size: 10px;
}
.content-card {
 position:absolute;
 top:200px;
 left: 200px;
 height:300px;
 width:600px;
 background-color: rgba(0,0,0,0.5);
 z-index:1;
}

.content {
   p{
   font-size:20px;
   font-weight: 900;
   opacity:1;
   z-index:2;
 }
}

.scout-button {
 position: absolute;
 bottom:220px;
 left: 320px;
 font-size: 40px;
 font-weight: bold;
}

.influencer-button {
 position: absolute;
 bottom:220px;
 left: 280px;
 font-size: 40px;
 font-weight: bold;
}

.banner {
 color: white;
 text-align: center;
 height: 100vh;
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
 background-size: cover !important;
 position:relative;

}

.db-card {
 height: 300px;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 background-size: cover !important;
 background-position: center;
 color: white;
 position: relative;
 margin: 15px;
 border-radius: 15px;
}

.home_page_content {
text-align: center;
 color: black;
}

.social {
  height: 100vh;
  width: 50px;
  position: fixed;
  font-size: 20px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.social ul {
  list-style: none;

.big-container {
  margin: 100px;
}
