// Import page-specific CSS files here.
@import "home";
.dashboardc {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  position: relative;

}

.infoboard {
  position:absolute;
  background-color: rgb(232, 229, 229);
  height: 85vh;
  width:27%;
  left: 15px;
  top: 15px;
  border-radius: 9px;
  font-size: 25px;
  color: black;
}

.bookings {
  position:absolute;
  height: 43vh;
  width: 70%;
  top: 15px;
  right: 15px;
  border-radius: 9px;

}

.bookings2 {
  background-color: grey;
  position:absolute;
  height: 40vh;
  bottom: 105px;
  right: 15px;
  width: 70%;
  border-radius: 9px;
}

.avatar-large {
  border-radius: 50%;
  margin: 60px;

}
