.btn-add {
  margin-bottom: 80px;
  font-size: 100px;
  text-align: center;

  text-decoration: none;

  a {
    color: #446582;
    &:hover {
      opacity: 0.9;
    }
  }
}
.search-bar {
  text-align: center;
  margin: 20px;
}

//######## Style the find button later!! ##########
// .btn-search submit_tag {
//   border-radius: 3px;
//   border: none;
//   background: #fbc000;
// }
