.btn-add {
  margin-top: 80px;
  font-size: 100px;
  text-align: center;
  color: #faf9f9;
  text-decoration: none;
}
.search-bar {
  text-align: center;
  margin: 20px;
}

// .btn-search {
//   border-radius: 3px;
//   border: none;
// }
