<div class="social">
  <ul>
  <li><i class="fab fa-twitter"></i></li>
  <br>
  <li><i class="fab fa-facebook"></i></li>
  <br>
  <li><i class="fab fa-instagram"></i></li>
  <br>
  <li><i class="fab fa-youtube"></i></li>
  <br>
  <li><i class="fab fa-pinterest-p"></i></li>
</ul>
</div>
