<div class="banner-home"  style="background-image:
         url('<%= cl_image_path 'homepage', height: 500, width: 500 %>')">
  <div class="banner-content">
    <h1>Off Trail</h1>
   <%= link_to "Become A Scout", scoutinfo_path,:class=>"btn btn-primary" %>
    <%= link_to "Become An Influencer", influencerinfo_path,:class=>"btn btn-primary" %>
  </div>
</div>
