<div class="banner-home"  style="background-image:
         url('<%= image_path 'root', height: 500, width: 500 %>')">
  <div class="banner-content">
    <h1><strong>Off Trail</strong> </h1>
   <%= link_to "Scout", scoutinfo_path,:class=>"btn btn-warning" %>
    <%= link_to "Influencer", influencerinfo_path,:class=>"btn btn-warning" %>
  </div>
</div>
