<%=render "shared/social"%>

<div class="banner"  style="background-image:
         url('<%= cl_image_path '1-2', height: 500, width: 500 %>')">
<div class="content-card">
  <div class="content">
    <p>rThe domain name info is a generic top-level domain (gTLD) in the Domain Name System (DNS) of the Internet. The name is derived from information, though registration requirements do not prescribe any particular theme.

The info TLD was a response to ICANN's highly publicized announcement,[1] in late 2000, of a phased release of seven new generic top-level do</p>
</div>
</div>
<div class='scout-button'>
<%= link_to "Become a Scout", new_user_registration_path,:class=>"btn-home-join-us" %>
</div>
</div>
