.banner{
  background: #e1e8f0;
}

.banner{
  width: 1140px;
  height: 100vh;
}

//HTML FOR HOMEPAGE BANNER
//<div class="banner">
  //<div class="banner-content">
    //<h1> your title <h1>
      //<p> your tagline </p>
      //<a href="" class="btn-yours">Your call-to-action</a>
  //</div>
//</div>
