.location_scout_information_display {
width: 850px;
height: 400px;
background: #e1e8f0;
}

.scout_avatar {
  width: 85px;
  height: 85px;
  border-radius: 50px;
}

.location_img {
  width: 350px;
  height: 250px;
}
